header {
    background-color: #333;
    color: beige;
    padding: 1rem 0;
    text-align: center;
}

header img {
    height: 700px;
    width: 600px;
}

.altavoces {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }


.altavoces img {
    width: 300px;
    height: 400px;
}

.amplificadores{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.amplificadores img  {
    width: 500px;
    height: 500px;
}

.base { 
    text-align: center;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

.base img {
    width: 800px;
    height: 700px;
}

h1 {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    text-align: center;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    padding: 20px;
    background-color: beige;
}

footer {
    background-color: #333;
    color: white;
    text-align: left;
    }